@using WebAppNetCore.Models;
@model IEnumerable<Product>

<div class="row">
    <div class="col-1 font-weight-bold">Id</div>
    <div class="col font-weight-bold">Nazwa</div>
    <div class="col font-weight-bold">Kategoria</div>
    <div class="col font-weight-bold">Cena Zakupu</div>
    <div class="col font-weight-bold">Cena Sprzedaży</div>
</div>

@{ int i = 0; }

<form asp-action="UpdateAll" method="post">
    @foreach (Product p in Model)
    {
    <div class="row p-2">
        <div class="col-1">
            @p.Id
            <input type="hidden" name="Products[@i].Id" value="@p.Id" />
        </div>
        <div class="col">
            <input class="form-control" name="Products[@i].Name"
                   value="@p.Name" />
        </div>
        <div class="col">
            <input class="form-control" name="Products[@i].Category"
                   value="@p.Category.Name" />
        </div>
        <div class="col text-right">
            <input class="form-control" name="Products[@i].PurchasePrice"
                   value="@p.PurchasePrice" />
        </div>
        <div class="col text-right">
            <input class="form-control" name="Products[@i].RetailPrice"
                   value="@p.RetailPrice" />
        </div>
    </div>
        i++;
    }
    <div class="text-center m-2">
        <button type="submit" class="btn btn-primary">Zapisz Wszystko</button>
        <a asp-action="Index" class="btn btn-outline-primary">Wróć</a>
    </div>
</form>